.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    justify-items: center;
    padding: 92px 0px 96px 0px;
}

.logo {
    padding-right: 165px;
}

.logo_img {
    display: block;
    width: 148px;
    height: 105px;
}

li:first-child {
  list-style-type: none;    /* это нужно чтобы убрать кругляшочек у первого элемента в списке в меню хедера */
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: circle;
    gap: 30px;
    padding: 0px 34px 0px 50px;
    letter-spacing: 1px;
}

.link {
    text-underline-offset: 4px;
}

.menu-link {
    white-space: nowrap;
    padding-right: 3px;
    padding-left: 3px;
}

.address {
    font-family: Raleway, Arial, sans-serif;
    font-style: normal;
}

.address_header {
    max-width: 240px;
    padding: 0px 50px 0px 0px;
}

.contacts {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    gap: 6px;
    align-items: flex-start;
    justify-self: end;
    list-style-type: none;
    letter-spacing: 1px;
}

.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 757px;
    background-image: url('../images/cover.jpg');
    background-position: center;
    background-size:cover;
    position: relative;
}

.overlay {
    background-color: rgb(0 0 0 / 0.6);
    z-index: 1;
}

.cover_overlay {
    position: absolute;
    inset: 0px 0px 0px 0px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin: 165px 50px 0px;
    z-index: 2;
    text-transform: uppercase;
    color: white;
    font-family: Raleway, Arial, sans-serif;
    font-weight: bold;
    font-size: 100px;
    letter-spacing: 30px;
}

.title_ono {
    align-self: start;
    padding-left: 40px;
}

.title_tebe {
    align-self: center;
    padding-left: 22px;
}

.title_nado {
    align-self: flex-end;
    padding-left: 650px;
}

.description {
    display: flex;
    z-index: 2;
    font-family: Raleway, Arial, sans-serif;
    font-style: normal;
    color: white;
    text-transform: uppercase;
    margin-top: 105px;
}

.description_text {
    word-spacing: 17px;
    align-self: center;
    font-size: larger;
    letter-spacing: 2px;
    padding-right: 107px;
    white-space: nowrap;
}

.bid_button {
    width: 256px;
    height: 51px;
    border: 1px solid white;
    align-self: center;
    white-space: nowrap;
    font-family: Raleway, Arial, sans-serif;
    font-style: normal;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    letter-spacing: 1px;
    padding: 12px 32px 11px 31px;
    cursor: pointer;
}

.lots {
    position:relative;
    margin: 180px 24px 120px 24px;
    max-width: 1052px;
}

.lots_header {
    font-family: Raleway, Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    padding-left: 40px;
}

.lots_list_card {
    display: grid;
    grid-template-columns: repeat(3, 334px);
    list-style-type: none;
    gap: 25px;
    padding: 27px 0px 30px 0px;
}

.lots_link {
    text-decoration: none;
}

.lots_cards_title {
    padding-top: 48px;
    padding-left: 40px;
    padding-right: 40px;
    max-height: 82px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: wrap;
    font-size: 22px;
    text-underline-offset: 3px;
    text-decoration: underline;
    z-index: 2;
}

.card_article {
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
    font-style: normal;
    font-size: 20px;
    z-index: 2;
}

.lots_cards_common {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 334px;
    min-height: 596px;
    background-size: cover;
    background-position: center;
    font-family: Raleway, Arial, sans-serif;
    color: white;
}

.lots_card_one {
    background-image: url('../images/card-lot-01.jpg');
}

.lots_card_two {
    background-image: url('../images/card-lot-02.jpg');
}

.lots_card_three {
    background-image: url('../images/card-lot-03.jpg');
}

.card_overlay {
    position: absolute;
    width: 334px;
    height: 596px;
}

.see_more {
    padding-left: 40px;
    font-size: 20px;
    text-underline-offset: 4px;
}

.about {
    margin: 120px 24px 160px 24px;
    max-width: 1052px;
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 26px;
}

.logo_about {
    display: flex;
    margin: 35px 0px 320px 47px;
    justify-content: center;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
}

.white_logo {
    align-self: center;
    z-index: 1;
    width: 148px;
    height: 114px;
    background-image: url('../images/logo-white.svg');
    background-repeat: no-repeat;
}

.about_title {
    font-family: Raleway;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    margin: 136px 400px 100px 0px;
}

.about_text {
    font-family: Raleway, Arial, sans-serif;
    font-style: normal;
    font-size: 20px;
    margin: 0px 0px 24px 0px;
    overflow: break-word;
}

.footer_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    justify-items: center;
    margin-bottom: 82px;
}

.address_footer {
    padding-top: 5px;
    padding-right: 25px;
}


.menu_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    word-spacing: 50;
    letter-spacing: 1px;
    text-underline-offset: 4px;
    list-style-type: none;
    padding-top: 5px;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 240px;
    gap: 48px;
    list-style-type: none;
    margin-left: 20px;
    margin-top: 1px;
}